/* 인포윈도우 설정 */
.infowindow {
    width: 25rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.infowindow-img-container {
    width: 100%;
    overflow: hidden;
}

.infowindow-img {
    width: 100%;
}

.infowindow-address {
    font-size: 1.6rem;
}

.infowindow-btn {
    font-size: 1.6rem;
}
